img {
  width: 100%;
}

.active {
  color: #ff6060;
}



.responsive_menu {
  position: fixed;
  right: 0;
  top: 0;
  width: 45%;
  background-color: rgba(255, 255, 255, 0.9);
  height: 100vh;
  z-index: 1;
  text-align: center;
  padding-top: 3rem;
  transition: all 0.5s ease;
  transform: translateX(100%);
}

.slide {
  transform: translateX(0%);
}

.responsive_menu h1 {
  cursor: pointer;
  font-size: 3rem;
}

.responsive_menu ul {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  display: grid;
  gap: 3rem;
  margin-block: 3rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.responsive_menu li {
  border-bottom: 3px solid #ff6060;
  padding: 0.5rem;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  transition: width 0.3s ease;
  cursor: pointer;
}

.responsive_menu li:hover {
  width: 55%;
}

.menu_container {
  width: 100%;
  height: 1500px;
  position: absolute;
  background-color: #e2e2e2;
  z-index: 2;
  transition: transform 0.5s ease;
  transform: translateX(200%);
  display: none;
}

.container {
  padding: 1.5rem 5.5rem;
}

.nav_container {
  width: 100%;
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav_logo {
  width: 150px;
  cursor: pointer;
}

.nav_info {
  display: flex;
  width: 400px;
  justify-content: space-between;
  align-items: center;
}

.nav_user {
  display: flex;
  align-items: center;
  width: 60px;
  cursor: pointer;
}

.nav_info_name {
  cursor: pointer;
}

.nav_user img {
  width: 30px;
}

.nav_category {
  width: 210px;
}

.nav_category ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_category li {
  list-style: none;
  cursor: pointer;
}

.nav_info_menu {
  width: 30px;
  height: 30px;
  padding-top: 0.5rem;
  cursor: pointer;
  display: none;
}

.icon_cart {
  cursor: pointer;
}

.cart {
  position: relative;
}

.cart_item {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  top: -9px;
  right: -12px;
  background-color: #ff6060;
  color: white;
  z-index: 1;
  text-align: center;
}

.cart_item p {
  font-size: 0.8rem;
  margin-right: 1.5px;
}

.menu {
  width: 100%;
  height: 2px;
  background-color: black;
  margin-bottom: 0.25rem;
  transition: all 0.3s ease;
  transform: rotate(0deg) translateY(0);
  opacity: 1;
}

.menu_left {
  transform: translateY(6px) rotate(130deg);
}

.menu_right {
  transform: translateY(1px) rotate(-130deg);
}

.menu_none {
  opacity: 0;
}

.move {
  transform: translateX(60%);
}


/* USER UI */

.user_container {
  width: 300px;
  position: absolute;
  bottom: -300px;
  right: 180px;
  border: 1px solid black;
  color: white;
  border-radius: 5px;
  z-index: 1;
}

.user_container::before {
  content: '';
  width: 15px;
  height: 15px;
  background-color: #232B2D;
  transform: rotate(45deg);
  position: absolute;
  top: -5px;
  right: 50px;
}

.user_container img {
  width: 80px;
}

.user_top {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1.5rem 0.6rem;
  background-color: #232B2D;
}

.user_top_info {
  display: grid;
  gap: 0.6rem;
  margin-left: 12px;
}

.user_bottom {
  padding: 1.5rem 1rem;
  background-color: #313B3D;
}

.user_bottom li {
  padding: 0.6rem 0.3rem;
  list-style: none;
  position: relative;
}

.user_bottom li::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #eeeeee;
  opacity: 0.1;
  left: 0;
  bottom: -1px;
}

.now {
  color: rgb(219, 100, 100);
}

/* RESPONSIVE */

@media screen and (max-width: 768px) {
  .menu_container {
    width: 400px;
    height: 100%;
    background-color: #e2e2e2;
    z-index: 1;
    transition: transform 0.5s ease;
    display: none;
  }

  .container {
    padding: 1.5rem 2.5rem;
    transition: all 0.5s ease;
  }

  .nav_info_menu {
    width: 30px;
    height: 30px;
    padding-top: 0.5rem;
    cursor: pointer;
    display: block;
  }

  .nav_category {
    display: none;
  }

  .nav_info_name {
    display: none;
  }

  .icon_cart {
    display: none;
  }


  .nav_info {
    width: 90px;
  }

  .user_container {
    width: 300px;
    position: absolute;
    bottom: -300px;
    right: 60px;
    border: 1px solid black;
    color: white;
    border-radius: 5px;
  }
}