* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  letter-spacing: -0.05rem;
}

.form_container {
  width: 100%;
  height: 110px;
  background-color: antiquewhite;
  padding: 2.5rem;
}

.search_form {
  width: 100%;
  height: 100%;
  position: relative;
}

.search_form input {
  width: 70%;
  height: 150%;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  border: 1px solid #eee
}

/* COURSE LIST */
.course_list {
  width: 100%;
  padding: 2.5rem;
}

.sort_option {
  gap: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.5rem;
  position: relative;
}

.sort_option::after {
  content: '';
  position: absolute;
  bottom: -15px;
  height: 1px;
  background-color: rgb(61, 61, 61, 0.5);
  width: 100%;
}

.select {
  padding: 0.5rem;
  font-size: large;
  font-weight: 600;
  border: 3px solid #eee;
}

.list_display {
  display: flex;
  gap: 0.5rem;
}

.block,
.grid {
  border: 3px solid #eee;
  padding: 0.5rem;
}

/* CLASS_LIST */
.lists {
  padding: 2.5rem;
}

.lists_card {
  display: flex;
  margin-block: 1rem;
  align-items: start;
}

.lists_card_img {
  width: 36%;
  border-radius: 5px;
}

.lists_card_image img {
  width: 100%;
  display: block;
  border-radius: 50%;
}

.lists_card_info {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.lists_card_info p {
  font-size: 1.2rem;
  width: 90%;
}

.lists_card_info div,
.lists_card_info p {
  margin-block: 0.5rem;
}